@{
    ViewData["Title"] = "Home Page";
}
@{
    Product productObject = new Product() { ProductName = "Boombox", Price = 120.00 };
}
@model IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<partial name="NavPartial" />
<h1>Welcome to this site!</h1>
<p>The rest of your View content here...</p>

@*<h1>Home Page</h1>
<partial name="ProductPartial" model="productObject" />*@
@*From controller*@
@*<partial name="ProductPartial" model="@Model" />

<partial name="TimeKeeperPartial" view-data="ViewData" />*@



@*<h1>Add a Product</h1>
<partial name="ProductPartialForm" />
<h1>Add a User</h1>
<partial name="UserPartialForm" />*@


<h1>Add a User</h1>
<form action="/create/user" method="post">
    <div class="form-group">
        <label asp-for="NewUser.Username"></label>
        <input asp-for="NewUser.Username">
        <span asp-validation-for="NewUser.Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewUser.Age"></label>
        <input asp-for="NewUser.Age">
        <span asp-validation-for="NewUser.Age"></span>
    </div>
    <input type="submit" value="Add User">
</form>
<h1>Add a Product</h1>
<form action="/create/product" method="post">
    <div class="form-group">
        <label asp-for="NewProduct.ProductName"></label>
        <input asp-for="NewProduct.ProductName">
        <span asp-validation-for="NewProduct.ProductName"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewProduct.Price"></label>
        <input asp-for="NewProduct.Price">
        <span asp-validation-for="NewProduct.Price"></span>
    </div>
    <input type="submit" value="Add Product">
</form>

